#cards-container {
    min-height: 825px;
    min-width: 90%;
    border: 5px groove gold;
}

#inputField {
    margin: 5% 0 5% 35%;
}

.cards {
    box-sizing: border-box;
    max-width: 25%;
    margin: 2%;
    padding: 1%;
    float: left;
    text-align: center; 
    height: 375px;
}

.cards:nth-of-type(odd) {
    background: lightblue;
}

.cards:nth-of-type(even) {
    background: lightyellow;
}

.card-image {
    width: 100px;
    height: 150px;
}

.borderCards {
    border: 3px dotted black;
}